/*global*/
@import 'global/stylesheets/mixins';
@import 'global/stylesheets/colors';
@import 'global/stylesheets/typography';
@import 'global/stylesheets/layout';
/*components*/
@import 'components/fare_calculator';
@import 'components/footer/footer';
